:root {
  font: var(--fw) var(--fs) var(--ff);
}

body {
  background: var(--c-bg);
  color: var(--c-txt);
  margin: 0;
}

pre {
  background: var(--c-surf);
  border: var(--bw) solid var(--c-line);
  border-radius: var(--br);
  overflow-x: auto;
  padding: calc(var(--s) * 2);
}

hr {
  border-bottom: var(--bw) solid var(--c-pri);
}

img {
  filter: var(--img-filter);
}

summary {
  cursor: pointer;
}

mark {
  background-color: var(--c-tri);
}
