.dialog {
  background: var(--c-bg);
  border: 0;
  color: var(--c-txt);
  margin: auto;
  max-width: var(--maxw);
}

.dialog::backdrop {
  background: rgba(0 0 0 / 90%);
  backdrop-filter: blur(2px);
}
