.input {
  background: var(--c-surf);
  border: var(--bw) solid var(--c-line);
  border-radius: var(--br);
  color: var(--c-txt);
  font-size: inherit;
  padding: var(--s);
}

input:not(:focus-visible, :focus) {
  accent-color: var(--c-sec);
}

.input:focus {
  border-color: var(--c-txt);
}

.input[type]:read-only, /* handle <select>, kind of bug? */
.input:disabled {
  background: var(--c-line);
}

textarea {
  font: inherit;
}
