[submodule "css-modern-dialog"]
	path = css-modern-dialog
	url = git@github.com:dknight/css-modern-dialog.git
[submodule "xz-notify"]
	path = xz-notify
	url = git@github.com:dknight/xz-notify
[submodule "xz-image-proxy"]
	path = xz-image-proxy
	url = https://github.com/dknight/xz-image-proxy
