@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --c-pri: #b86ce4;
    --c-sec: #db7ac5;
    --c-tri: #f9c46b;

    --c-err: #ff8672;
    --c-suc: #6ba55d;

    --c-txt: #e8eaed;
    --c-dim: #bdc1c6;
    --c-bg: #202124;
    --c-line: #413e46;
    --c-surf: #151417;

    --img-filter: brightness(0.8) contrast(1.2);
  }
}

:root[data-theme='dark'] {
  color-scheme: dark;
  --c-pri: #b86ce4;
  --c-sec: #db7ac5;
  --c-tri: #f9c46b;

  --c-err: #ff8672;
  --c-suc: #6ba55d;

  --c-txt: #e8eaed;
  --c-dim: #bdc1c6;
  --c-bg: #202124;
  --c-line: #413e46;
  --c-surf: #151417;

  --img-filter: brightness(0.8) contrast(1.2);
}
