@mixin window-gradient($from, $to) {
  background: $from;
  background: -webkit-linear-gradient(left, $from, $to);
  background: -o-linear-gradient(right, $from, $to);
  background: -moz-linear-gradient(right, $from, $to);
  background: linear-gradient(to right, $from , $to);
}

@mixin sky-color() {
  background: $color-sky-1;
  background: -webkit-linear-gradient($color-sky-1, $color-sky-2, $color-sky-3);
  background: -o-linear-gradient($color-sky-1, $color-sky-2, $color-sky-3);
  background: -moz-linear-gradient($color-sky-1, $color-sky-2, $color-sky-3);
  background: linear-gradient($color-sky-1, $color-sky-2, $color-sky-3);
}
%null-size {
  width: 0;
  height: 0;
}
