// Layout
$min-width: 800px;
$width-medium: 760px;
$width-small: 400px;

// World colors
$color-sky-1: #000;
$color-sky-2: #090012;
$color-sky-3: #17002C;

// City's color
$color-house-1: #b3b3b3;
$color-house-2: darken($color-house-1, 30%);
$color-house-3: darken($color-house-1, 55%);
$color-house-4: darken($color-house-1, 67%);
$color-house-5: darken($color-house-1, 70%);
$color-red-village: #140000;

$window-color-1: #ccc;
$window-color-2: #666;
$window-color-3: #ccc;
$window-color-4: #555;
$window-color-5: #4a4a4a;
$window-light-1: #E1BF00;
$window-light-2: #f60;
$window-light-3: darken($window-light-1, 8%);
$window-light-4: darken($window-light-2, 8%);
$window-light-5: #B07800;
$window-light-6: #014754;
$window-light-7: #002F38;
$window-light-8: #B9035B;
$window-light-9: #340019;

/* Doodads */
$tree-trunk-color: #311000;
$tree-leaves-color: #003102;
$lamp-base-color: #222;
$lamp-base-metal: #050505;
$lamp-light-color: #ff0;

/* Clouds */
$color-cloud-1: #151515;
$color-cloud-2: #28262C;

/* Stars */
$color-star-1: #cff;
$color-star-2: #ffc;
$color-star-3: #fcf;

/* Moon */
$color-moon: #fc3;

$starfield-1: 179px 1521px $color-star-1, 495px 1575px $color-star-1, 646px 130px $color-star-1, 830px 1258px $color-star-1, 501px 1649px $color-star-1, 636px 237px $color-star-1, 89px 1239px $color-star-1, 1207px 1356px $color-star-1, 1283px 225px $color-star-1, 400px 820px $color-star-1, 264px 464px $color-star-1, 126px 1964px $color-star-1, 257px 60px $color-star-1, 60px 718px $color-star-1, 978px 380px $color-star-1, 510px 134px $color-star-1, 966px 1717px $color-star-1, 911px 744px $color-star-1, 1295px 19px $color-star-1, 1373px 127px $color-star-1, 158px 196px $color-star-1, 1164px 1669px $color-star-1, 883px 1528px $color-star-1, 1087px 1989px $color-star-1, 476px 943px $color-star-1, 556px 1415px $color-star-1, 1301px 1678px $color-star-1, 1157px 407px $color-star-1, 954px 192px $color-star-1, 1224px 1311px $color-star-1, 337px 1266px $color-star-1, 752px 1516px $color-star-1, 955px 927px $color-star-1, 1202px 1982px $color-star-1, 287px 214px $color-star-1, 450px 1110px $color-star-1, 800px 970px $color-star-1, 1250px 1137px $color-star-1, 439px 1419px $color-star-1, 510px 1716px $color-star-1, 21px 1270px $color-star-1, 200px 61px $color-star-1, 344px 482px $color-star-1, 216px 876px $color-star-1, 247px 1734px $color-star-1, 499px 344px $color-star-1, 202px 837px $color-star-1, 211px 727px $color-star-1, 598px 1285px $color-star-1, 556px 1705px $color-star-1, 623px 232px $color-star-1, 89px 1980px $color-star-1, 1222px 1026px $color-star-1, 380px 670px $color-star-1, 913px 526px $color-star-1, 983px 1071px $color-star-1, 916px 1725px $color-star-1, 578px 1060px $color-star-1, 591px 1838px $color-star-1, 960px 1379px $color-star-1, 188px 1326px $color-star-1, 1309px 1828px $color-star-1, 945px 1676px $color-star-1, 804px 261px $color-star-1, 125px 1513px $color-star-1, 1px 1393px $color-star-1, 1282px 434px $color-star-1, 856px 186px $color-star-1, 1168px 634px $color-star-1, 503px 1321px $color-star-1, 977px 364px $color-star-1, 644px 136px $color-star-1, 994px 869px $color-star-1, 155px 275px $color-star-1, 1197px 1688px $color-star-1, 1170px 1143px $color-star-1, 982px 156px $color-star-1, 475px 1957px $color-star-1, 8px 546px $color-star-1, 260px 1154px $color-star-1, 715px 1650px $color-star-1, 368px 1550px $color-star-1, 1181px 1879px $color-star-1, 329px 690px $color-star-1, 644px 1337px $color-star-1, 387px 1917px $color-star-1, 456px 1701px $color-star-1, 1197px 818px $color-star-1, 263px 316px $color-star-1, 109px 1655px $color-star-1, 1228px 69px $color-star-1, 1265px 662px $color-star-1, 344px 1258px $color-star-1, 214px 1441px $color-star-1, 918px 1974px $color-star-1, 1010px 135px $color-star-1, 753px 1999px $color-star-1, 1185px 1908px $color-star-1, 1159px 704px $color-star-1, 1165px 549px $color-star-1;

$starfield-2: 773px 1859px $color-star-2, 545px 663px $color-star-2, 1129px 591px $color-star-2, 924px 111px $color-star-2, 340px 1741px $color-star-2, 487px 903px $color-star-2, 592px 1072px $color-star-2, 1273px 602px $color-star-2, 149px 400px $color-star-2, 466px 1790px $color-star-2, 294px 1467px $color-star-2, 1338px 341px $color-star-2, 939px 762px $color-star-2, 1110px 658px $color-star-2, 930px 1077px $color-star-2, 1214px 89px $color-star-2, 436px 1841px $color-star-2, 490px 134px $color-star-2, 93px 1075px $color-star-2, 818px 335px $color-star-2, 838px 504px $color-star-2, 94px 954px $color-star-2, 421px 766px $color-star-2, 607px 1985px $color-star-2, 287px 435px $color-star-2, 765px 222px $color-star-2, 950px 521px $color-star-2, 930px 1956px $color-star-2, 859px 328px $color-star-2, 179px 1389px $color-star-2, 142px 1203px $color-star-2, 660px 663px $color-star-2, 449px 1340px $color-star-2, 161px 1498px $color-star-2, 1337px 484px $color-star-2, 167px 125px $color-star-2, 1178px 1291px $color-star-2, 28px 748px $color-star-2, 874px 1959px $color-star-2, 1256px 480px $color-star-2, 394px 1402px $color-star-2, 181px 1744px $color-star-2, 498px 1838px $color-star-2, 1397px 99px $color-star-2, 970px 903px $color-star-2, 668px 1174px $color-star-2, 419px 997px $color-star-2, 1089px 736px $color-star-2, 174px 1204px $color-star-2, 46px 1157px $color-star-2, 1064px 1376px $color-star-2, 738px 294px $color-star-2, 482px 409px $color-star-2, 258px 882px $color-star-2, 880px 1607px $color-star-2, 1191px 1725px $color-star-2, 1019px 515px $color-star-2, 1226px 322px $color-star-2, 1122px 356px $color-star-2, 957px 224px $color-star-2, 406px 546px $color-star-2, 658px 937px $color-star-2, 620px 853px $color-star-2, 506px 569px $color-star-2, 134px 1025px $color-star-2, 945px 859px $color-star-2, 339px 1697px $color-star-2, 550px 335px $color-star-2, 777px 900px $color-star-2, 595px 643px $color-star-2, 1213px 768px $color-star-2, 932px 305px $color-star-2, 246px 1521px $color-star-2, 1020px 1852px $color-star-2, 517px 1978px $color-star-2, 1026px 1861px $color-star-2, 619px 1644px $color-star-2, 1237px 1959px $color-star-2, 170px 33px $color-star-2, 88px 354px $color-star-2, 1077px 1994px $color-star-2, 657px 1072px $color-star-2, 855px 687px $color-star-2, 663px 197px $color-star-2, 786px 1688px $color-star-2, 245px 607px $color-star-2, 1206px 1638px $color-star-2, 1311px 9px $color-star-2, 207px 1489px $color-star-2, 1397px 36px $color-star-2, 501px 382px $color-star-2, 1197px 1212px $color-star-2, 190px 875px $color-star-2, 120px 1719px $color-star-2, 888px 790px $color-star-2, 844px 849px $color-star-2, 569px 32px $color-star-2, 795px 209px $color-star-2, 797px 701px $color-star-2, 1341px 1145px $color-star-2;
@mixin shadow($x, $y, $blur, $color) {
  //-webkit-box-shadow: $x $y $blur $color;
  //-moz-box-shadow: $x $y $blur $color;
  box-shadow: $x $y $blur $color;
}

@mixin shadow-inset($x, $y, $blur, $color) {
  //-webkit-box-shadow: inset $x $y $blur $color;
  //-moz-box-shadow: inset $x $y $blur $color;
  box-shadow: inset $x $y $blur $color;
}

@mixin transition($property: all, $time: .2s, $type: ease, $delay: 0s) {
  -webkit-transition: $property $time $type $delay;
  -moz-transition: $property $time $type $delay;
  -o-transition: $property $time $type $delay;
  transition: $property $time $type $delay;
}

@mixin box-sizing {
  //-webkit-box-sizing: border-box;
  //-moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin linear-gradient($from, $to) {
  /* Fallback for sad browsers */
  background-color: $to;
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient($from, $to);
  /* Opera */
  background-image: -o-linear-gradient($from, $to);
  /* WebKit (Chrome 11+) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
  /* WebKit (Safari 5.1+, Chrome 10+) */
  background-image: -webkit-linear-gradient($from, $to);
  /* IE10 */
  background-image: -ms-linear-gradient($from, $to);
  /* W3C */
  background-image: linear-gradient($from, $to);
}

@mixin responsive($width) {
  @if $width == wide-screens {
    @media only screen and (max-width: $width-large) { @content }
  }
  @else if $width == medium-screens {
    @media only screen and (max-width: $width-medium) { @content }
  }
  @else if $width == small-screens {
    @media only screen and (max-width: $width-small) { @content }
  }
}

@mixin background-size($width, $height) {
  -webkit-background-size: $width $height;
  -moz-background-size: $width $height;
  background-size: $width $height;
}

@mixin retinize($file, $type, $width, $height) {
  background-image: url('../img/' + $file + '.' + $type);
  @media (-webkit-min-device-pixel-ratio: 1.5),
  (min--moz-device-pixel-ratio: 1.5),
  (-o-min-device-pixel-ratio: 3/2),
  (min-device-pixel-ratio: 1.5),
  (min-resolution: 1.5dppx) {
    & {
      background-image: url('../img/' + $file + '-2x.' + $type);
      -webkit-background-size: $width $height;
      -moz-background-size: $width $height;
      background-size: $width $height;
    }
  }
}

@mixin font-smoothing {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin clearfix {
  .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
   }
}

@mixin window-gradient($from, $to) {
  background: $from;
  background: -webkit-linear-gradient(left, $from, $to);
  background: -o-linear-gradient(right, $from, $to);
  background: -moz-linear-gradient(right, $from, $to);
  background: linear-gradient(to right, $from , $to);
}

@mixin sky-color() {
  background: $color-sky-1;
  background: -webkit-linear-gradient($color-sky-1, $color-sky-2, $color-sky-3);
  background: -o-linear-gradient($color-sky-1, $color-sky-2, $color-sky-3);
  background: -moz-linear-gradient($color-sky-1, $color-sky-2, $color-sky-3);
  background: linear-gradient($color-sky-1, $color-sky-2, $color-sky-3);
}
%null-size {
  width: 0;
  height: 0;
}

/* Animate stars*/
@keyframes stars-anim {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

/* Animate clouds */
@keyframes clouds-anim {
  from {
    -webkit-transform: translateX(0);
    transform: translateX();
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(-1000px);
  }
}

/* Starfall animation */
@keyframes starfall-anim {
  0% {
    -webkit-transform: translate(600px, 0) rotate(250deg);
    transform: translate(600px, 0) rotate(250deg);
  }
  2% {
    -webkit-transform: translate(-2000px, 1400px) rotate(250deg);
    transform: translate(-2000px, 1400px) rotate(250deg);
  }
  100% {
    -webkit-transform: translate(-2000px, 1400px) rotate(250deg);
    transform: translate(-2000px, 1400px) rotate(250deg);
  }
}

/* Moon animation */
@keyframes moon-anim {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  40% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  60% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

/* Enable animation for debug */
$animation_on: true;

* {
  @include box-sizing();
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 10px;
  @include sky-color();
  @include responsive(medium-screens) {
    font-size: 8px;
  }
  @include responsive(small-screens) {
    font-size: 4px;
  }
}

/* ===================== Layers' indicies =========== */
.layer-0 { z-index: 2000; } // City's doodads
.layer-1 { z-index: 1000; } // Very close houses
.layer-2 { z-index: 900; }  // Close houses
.layer-3 { z-index: 800; }  // Middle away houses
.layer-4 { z-index: 700; }  // Far away houses
.layer-5 { z-index: 600; }  // Far far away houses
.layer-6 { z-index: 500; }  // clouds
.layer-7 { z-index: 400; }  // moon
.layer-8 { z-index: 300; }  // stars

/* ===================== Wrapper ==================== */
#wrap {
  // Code here
}

/* ===================== Sky ======================== */
.stars {
  background: transparent;
}
.stars-1 {
  width: 2px;
  height: 2px;
  box-shadow: $starfield-1;
  @if $animation_on {
    -webkit-animation: stars-anim 180s linear infinite;
    animation: stars-anim 180s linear infinite;
  }
}
.stars-2 {
  width: 3px;
  height: 3px;
  box-shadow: $starfield-2;
  @if $animation_on {
    -webkit-animation: stars-anim 300s linear infinite;
    animation: stars-anim 300s linear infinite;
  }
}

.cloud {
  position: absolute;
  width: 12%;
  height: 11%;
  border-radius: 50%;
  opacity: .95;
  
  &:after {
    position: absolute;
    top: -6%;
    left: 0;
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    border-radius: 50%
  }
  &:before {
    position: absolute;
    top: -23%;
    right: -1%;
    content: "";
    display: block;
    width: 60%;
    height: 120%;
    border-radius: 50%
  }
}
.cloud-1 {
  background: $color-cloud-1;
  left: 90%;
  top: 10%;
  @if $animation_on {
    -webkit-animation: clouds-anim 200s linear infinite;
    animation: clouds-anim 200s linear infinite
  }
  &:before, &:after {
    background: $color-cloud-1;
  }
}
.cloud-2 {
  background: $color-cloud-2;
  width: 30%;
  left: 60%;
  top: 26%;
  @if $animation_on {
    -webkit-animation: clouds-anim 150s linear infinite;
    animation: clouds-anim 150s linear infinite;
  }
  &:before, &:after {
    background: $color-cloud-2;
  }
}
.cloud-3 {
  background: $color-cloud-2;
  width: 20%;
  height: 5%;
  left: 40%;
  top: 6%;
  opacity: .5;
  @if $animation_on {
    -webkit-animation: clouds-anim 300s linear infinite;
    animation: clouds-anim 300s linear infinite;
  }
  &:before, &:after {
    background: $color-cloud-2;
  }
}
.starfall {
  position: absolute;
  top: -300px;
  left: 70%;
  width: 2px;
  height: 30%;
  @include linear-gradient(#fff, transparent);
  @if $animation_on {
    -webkit-animation: starfall-anim 16s ease-in 4s infinite;
    animation: starfall-anim 16s ease-in 4s infinite;
  }
}
.moon {
  position: absolute;
  top: 6%;
  left: 7%;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  box-shadow: 1.5em 1.5em 0 0 $color-moon;
  @if $animation_on {
    animation: moon-anim 6s ease-in infinite;
  }
}

/* ===================== Houses ===================== */
.house {
  position: absolute;
  bottom: 0;
  
  &.layer-1 {
    background-color: $color-house-1;
  }
  &.layer-2 {
    background-color: $color-house-2;
  }
  &.layer-3 {
    background-color: $color-house-3;
  }
  &.layer-4 {
    background-color: $color-house-4;
  }
  &.layer-5 {
    background-color: $color-house-5;
  }
  &.red-village {
    background-color: $color-red-village;
  }
}

.win {
  position: absolute;
  
  .layer-1 & {
    @include window-gradient($window-color-1, $window-color-2);
    &.lgt {
      @include window-gradient($window-light-1, $window-light-2);
    }
  }
  .layer-2 & {
    @include window-gradient($window-color-3, $window-color-4);
    &.lgt {
      @include window-gradient($window-light-3, $window-light-4);
    }
    &.lgt-3 {
      @include window-gradient($window-light-8, $window-light-9);
    }
  }
  .layer-3 & {
    background: $window-color-5;
    &.lgt {
      background: $window-light-5;
    }
    &.lgt-2 {
      @include window-gradient($window-light-6, $window-light-7);
    }
  }
}


.house-1 {
  width: 12%;
  height: 15%;
  left: 10%;
  
  .win {
    width: 21%;
    height: 30%;
    
    &:nth-child(3n+1) { left: 10%; }
    &:nth-child(3n+2) { left: 40%; }
    &:nth-child(3n+3) { left: 70%; }
    &:nth-child(-n+3) { top: 13%; }
    &:nth-child(n+4) { top: 55%; }
  }
}

.house-2 {
  width: 15%;
  height: 33%;
  left: 32%;
  
  .win {
    width: 16%;
    height: 15%;
    
    &:nth-child(4n+1) { left: 10%; }
    &:nth-child(4n+2) { left: 31%; }
    &:nth-child(4n+3) { left: 53%; }
    &:nth-child(4n+4) { left: 75%; }
    &:nth-child(-n+4) { top: 10%;  }
    &:nth-child(n+5) { top: 30%; }
    &:nth-child(n+9) { top: 50%; }
    &:nth-child(n+13) { top: 70%; }
  }
}

.house-3 {
  width: 12%;
  height: 50%;
  left: 58%;
  
  .win {
    width: 14%; 
    height: 7%;
    
    &:nth-child(3n+1) { left:12%; }
    &:nth-child(3n+2) { left:42%; }
    &:nth-child(3n+3) { left:72%; }
    &:nth-child(-n+3) { top: 5%; }
    &:nth-child(n+4) { top: 15%; }
    &:nth-child(n+7) { top: 25%; }
    &:nth-child(n+10) { top: 35%; }
    &:nth-child(n+13) { top: 45%; }
    &:nth-child(n+16) { top: 55%; }
    &:nth-child(n+19) { top: 65%; }
    &:nth-child(n+22) { top: 75%; }
    &:nth-child(n+25) { top: 85%; }
  }
}

.house-4 {
  width: 8%;
  height: 30%;
  left: 77%;
  
  .win {
    width: 20%; 
    height: 10%;
  
    &:nth-child(2n+1) { left: 22%; }
    &:nth-child(2n+2) { left: 56%; }
    &:nth-child(-n+2) { top: 8%; }
    &:nth-child(n+3) { top: 23%; }
    &:nth-child(n+5) { top: 38%; }
    &:nth-child(n+7) { top: 53%; }
    &:nth-child(n+9) { top: 68%; }
    &:nth-child(n+11) { top: 83%; }
  }
}

.house-5 {
  width: 15%;
  height: 37%;
  left: 4%;
  
  .win {
    width: 16%;
    height: 12%;
    
    &:nth-child(4n+1) { left: 15%; }
    &:nth-child(4n+2) { left: 35%; }
    &:nth-child(4n+3) { left: 55%; }
    &:nth-child(4n+4) { left: 75%; }
    &:nth-child(-n+4) { top: 10%; }
    &:nth-child(n+5) { top: 30%; }
    &:nth-child(n+9) { top: 50%; }
    &:nth-child(n+13) { top: 70%; }
  }
}

.house-6 {
  width: 14%;
  height: 42%;
  left: 44%;
  
  .win {
    width: 20%;
    height: 10%;
    
    &:nth-child(3n+1) { left: 15%; }
    &:nth-child(3n+2) { left: 40%; }
    &:nth-child(3n+3) { left: 65%; }
    &:nth-child(-n+3) { top: 6%; }
    &:nth-child(n+4) { top: 20%; }
    &:nth-child(n+7) { top: 34%; }
    &:nth-child(n+10) { top: 48%; }
    &:nth-child(n+13) { top: 62%; }
    &:nth-child(n+17) { top: 76%; }
  }
}

.house-7 {
  width: 14%;
  height: 48%;
  left: 81%;
  
  .win {
    width: 20%;
    height: 10%;
    
    &:nth-child(3n+1) { left: 15%; }
    &:nth-child(3n+2) { left: 40%; }
    &:nth-child(3n+3) { left: 65%; }
    &:nth-child(-n+3) { top: 6%; }
    &:nth-child(n+4) { top: 20%; }
    &:nth-child(n+7) { top: 34%; }
    &:nth-child(n+10) { top: 48%; }
    &:nth-child(n+13) { top: 62%; }
    &:nth-child(n+17) { top: 76%; }
  }
}

.house-8 {
  width: 14%;
  height: 48%;
  left: -4%;
  
  .win {
    width: 20%;
    height: 10%;
    
    &:nth-child(3n+1) { left: 15%; }
    &:nth-child(3n+2) { left: 40%; }
    &:nth-child(3n+3) { left: 65%; }
    &:nth-child(-n+3) { top: 6%; }
    &:nth-child(n+4) { top: 20%; }
    &:nth-child(n+7) { top: 34%; }
    &:nth-child(n+10) { top: 48%; }
    &:nth-child(n+13) { top: 62%; }
    &:nth-child(n+17) { top: 76%; }
  }
}

.house-9 {
  width: 18%;
  height: 52%;
  left: 24%;
  
  .win {
    width: 20%;
    height: 10%;
    
    &:nth-child(3n+1) { left: 15%; }
    &:nth-child(3n+2) { left: 40%; }
    &:nth-child(3n+3) { left: 65%; }
    &:nth-child(-n+3) { top: 15%; }
    &:nth-child(n+4) { top: 30%; }
    &:nth-child(n+7) { top: 45%; }
    &:nth-child(n+10) { top: 60%; }
    &:nth-child(n+13) { top: 75%; }
  }
}

.house-10 {
  width: 18%;
  height: 42%;
  left: 64%;
  
  .win {
    width: 26%;
    height: 14%;
    
    &:nth-child(2n+1) { left: 30%; }
    &:nth-child(2n+2) { left: 60%; }
    &:nth-child(-n+2) { top: 10%; }
    &:nth-child(n+3) { top: 30%; }
    &:nth-child(n+5) { top: 50%; }
  }
}

.house-11 {
  width: 18%;
  height: 42%;
  left: 14%;
}
.house-12 {
  width: 18%;
  height: 58%;
  left: 37%;
}
.house-13 {
  width: 18%;
  height: 38%;
  left: 84%;
}
.house-14 {
  width: 18%;
  height: 61%;
  left: 74%;
}
.house-15 {
  width: 18%;
  height: 51%;
  left: 8%;
}

/* ========================== Doodads======================= */
.tree {
  position: absolute;
  bottom: 0;
  width: 1%;
  height: 10%;
  background: $tree-trunk-color;
  
  &:after {
    position: absolute;
    top: -4.5em;
    left: -1.7em;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 2.4em solid transparent;
	border-right: 2.4em solid transparent;
	border-bottom: 10em solid $tree-leaves-color;
  }
}
.tree-1 {
  left: 78%;
}
.tree-2 {
  left: 83%;
}
.tree-3 {
  left: 88%;
}

.lamp {
  position: absolute;
  bottom: 0;
  width: 0.5%;
  height: 12%;
  background: $lamp-base-color;
  
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 4em;
    height: .2em;
    background: $lamp-base-metal;
  }
  &:before {
    position: absolute;
    content: "";
    display: block;
    top: -.1em;
    left: 4em;
    width: .7em;
    height: .4em;
    background: $lamp-base-metal;
  }
  
  .light {
    position: absolute;
    margin: .2em 0 0 .4em;
    width: 0;
	height: 0;
	border-left: 4em solid transparent;
	border-right: 4em solid transparent;
	border-bottom: 10em solid $lamp-light-color;
    opacity: .19;
  }
}

.lamp-1 {
  left: 5%;
}
.lamp-2 {
  left: 15%;
}
.lamp-3 {
  left: 25%;
}
.lamp-4 {
  left: 35%;
}