$butterfly-color-list: (
  #4cb848, #f9a01e, #ed008c,
  #c4d72d, #0083cb, #0154a4,
  #f8ee2c, #a2238e, #4cb848,
  #ed008c, #0083cb, #a2238e,
  #a2238e, #0154a4, #f9a01e,
  #19c1f2, #c4d72d, #f8ee2c
);

$butterflies-num: 50;

html,body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  width: 100%;
  height: 100%;
  background-color: #d9fcff;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#scene {
  width: 100%;
  height: 100%;
  position: relative;
}
.grass {
  background: linear-gradient(#5f9121, #3F4F32);
  border-radius: 50%;
  width: 1000px;
  height: 1000px;
  position: absolute;
  &.grass-1 {
    top: 50%;
    left: -200px;
    transform: scale(.9);
  }
  &.grass-2 {
    top: 47%;
    left: 500px;
  }
}
.cloud {
  position: absolute;

  &.cloud-1 {
    left: 10%;
    top: 50px;
  }
  &.cloud-2 {
    left: 60%;
    top: 70px;
    transform: scale(-1.2, 1.2);
  }
  &.cloud-3 {
    left: 80%;
    top: 50px;
    transform: scale(.7);
  }

  .c {
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    &:nth-child(1) {
      left: 35px;
      top: -25px;
    }
    &:nth-child(2) {
      left: 25px;
      top: 25px;
    }
    &:nth-child(3) {
      left: -52px;
      top: 25px;
    }
    &:nth-child(4) {
      left: 75px;
      top: 25px;
    }
    &:nth-child(5) {
      left: -25px;
      top: -10px;
    }
  }
}

.butterfly {
  position: absolute;
  top: 130%;
  will-change: top, left;

  &::after { // left
    content: "";
    display: block;
    width: 70px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    left: -60px;
    transform: skewX(30deg);
    transform-origin: 50% 50%;
    animation: flapWingLeft 400ms ease-out infinite alternate;
    will-change: transform;
  }
  &::before { // right
    content: "";
    display: block;
    width: 70px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    transform: skewX(-30deg);
    transform-origin: 0% 50%;
    animation: flapWingRight 300ms ease-out infinite alternate;
    will-change: transform;
  }
} 

@for $i from 1 through $butterflies-num {
  .butterfly:nth-child(#{$i}) {

    $rndTmp: random(12000);
    $rndFlapTmp: random(1000);

    left: calc(50% - #{random(200) - 100}px);
    animation: 3000ms linear #{$rndTmp}ms scaleUp infinite forwards,
               3000ms linear #{$rndTmp}ms flyUp-#{$i} infinite forwards;
    
    &::after {
      background-color: nth($butterfly-color-list, random(length($butterfly-color-list)));
      animation-delay: #{$rndFlapTmp}ms;
    }
    &::before {
      background-color: nth($butterfly-color-list, random(length($butterfly-color-list)));
      animation-delay: #{$rndFlapTmp}ms;
    }
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@for $i from 1 through $butterflies-num {
  @keyframes flyUp-#{$i} {
    100% {
      top: -30%;
      left: #{(random(70) + 10) * 1%};
    }
  }
}

@keyframes flapWingLeft {
  0% { 
    transform: skewX(30deg) scaleX(.2);
  }
  100% { 
    transform: skewX(30deg) scaleX(1);
  }
}

@keyframes flapWingRight {
  0% { 
    transform: skewX(-30deg) scaleX(.2);
  }
  100% { 
    transform: skewX(-30deg) scaleX(1);
  }
}