body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 4em 2em;
}
header, main, footer {
  width: 100%;
}
main img {
  max-width: 100%;
  height: auto;
}
a.ablack {
  color: #000 !important;
  cursor: none;
  text-decoration: none;
  outline: none;
}
time, .posts-count {
  color: #666;
}
code {
  background: #eee;
  font-size: 16px;
}
pre {
  background: #eee;
  padding: .4em .8em;
}
img a {
  border: none;
}
#articles-list {
  list-style: none;
  padding: 0;
}
#articles-list li {
  margin: .5em 0;
}
#blog-title {
  font-size: 1.2em;
  margin-top: 0;
}
footer {
  margin-top: 2em;
}
table th, table td {
  padding: .4em;
}
