@font-face {
  font-family: 'Perfect_DOS_VGA_437';
  src: url('/assets/fonts/Perfect_DOS_VGA_437.woff2') format('woff2');
  font-display: swap;
}

:root {
  color-scheme: light dark;

  /* dos ibm colors */
  --color0: #000;
  --color1: #00a;
  --color2: #0a0;
  --color3: #0aa;
  --color4: #a00;
  --color5: #a0a;
  --color6: #a50;
  --color6b: #aa0;
  --color7: #aaa;
  --color7-custom: #ccc; /* better contrast */
  --color8: #555;
  --color9: #55f;
  --color10: #5f5;
  --color11: #5ff;
  --color12: #f55;
  --color13: #f5f;
  --color14: #ff5;
  --color15: #fff;

  --display-font: "Perfect_DOS_VGA_437";
  --color-bg: light-dark(var(--color15), var(--color0));
  --color-text: light-dark(var(--color0), var(--color7-custom));
  --color-pri: light-dark(var(--color1), var(--color10));
  --color-code: light-dark(var(--color15), var(--color0));
  --color-border: var(--color3);

  --color-tip: var(--color3);
  --color-tip-text: var(--color0);
  --color-warning: var(--color6);
  --color-warning-text: var(--color14);
  --color-danger: var(--color4);
  --color-danger-text: var(--color14);

  --letter-spacing: light-dark(0, 1px);

  --focus-outline: 0.125rem solid light-dark(var(--color1), var(--color14));

  scroll-behavior: smooth;
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

:focus-visible {
  outline: var(--focus-outline);
  outline-offset: 0.125rem;
  + label {
    outline: var(--focus-outline);
    outline-offset: 0.125rem;
  }
}

body {
  font: normal 16px/2 monospace;
  /*font: normal 20px/1.5 var(--display-font), monospace;*/
  letter-spacing: var(--letter-spacing);
  padding: 1ch 2ch;
  margin: 0 auto;
  box-sizing: border-box;
  background: var(--color-bg);
  color: var(--color-text);
  max-width: 80rem;
  width: 100%;
}

/* ================================ HEADER ================================= */

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4ch;
  margin: 4ch 0;
  padding-bottom: 3ch;
  border-bottom: 0.125rem solid var(--color-border);
}
.mainmenu {
  align-items: center;
  display: flex;
  font: normal 1.25rem/1 var(--display-font), monospace;
  justify-self: end;
  gap: 1ch;

  a {
    padding: 1ch;

    &:link, &:visited {
      color: light-dark(var(--color5), var(--color13));
      text-decoration: none;
    }

    &.active,
    &:hover {
      background-color: light-dark(var(--color5), var(--color13));
      color: light-dark(var(--color15), var(--color0));
    }

    &.mainmenu-rss {
      &:is(:link, :visited) {
        color: light-dark(var(--color6), var(--color6b));
      }
      &.active,
      &:hover {
        background-color: light-dark(var(--color6), var(--color6b));
        color: light-dark(var(--color15), var(--color0));
      }
    }

    &.mainmenu-toolbox {
      &:is(:link, :visited) {
        color: light-dark(var(--color1), var(--color11));
      }
      &.active,
      &:hover {
        background-color: light-dark(var(--color1), var(--color11));
        color: light-dark(var(--color15), var(--color0));
      }
    }
  }
}

.tags {
  margin: 1ch 0 0;
  display: inline-flex;
  gap: 2ch;
  flex-wrap: wrap;
  white-space: nowrap;
  line-height: 1;
}
.logo {
  image-rendering: pixelated;
  border: none;
}

/* ================================= MAIN ================================== */

main {
  article {
    container-type: inline-size;
    container-name: article;
  }
  .articles {
    li {
      line-height: 4ch;

      time {
        font-size: 1rem;
        margin-right: 1ch;
      }
    }
  }
}

/* ============================= COMMON TAGS =============================== */

h1 {
  color: var(--color-pri);
  font: normal 2rem/1.25 var(--display-font), monospace;
  margin: 2ch 0 1ch;
  text-wrap: balance;
}
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-pri);
  font: normal 1.5rem/1.5 var(--display-font), monospace;
  text-wrap: balance;

  &:hover .headerlink {
    display: inline-block;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: var(--color8);
    }
  }
}

h2 {
  margin: 2ch 0 1ch;
}
h3 {
  margin: 1.5ch 0 1ch;
  color: light-dark(var(--color5), var(--color11));
}
h4,
h5,
h6 {
  margin: 1ch 0;
  color: light-dark(var(--color6), var(--color13));
}


a {
  &:not(:is(:hover, :focus)) {
    text-decoration-color: color-mix(in srgb, currentColor, transparent 50%);
    text-underline-offset: 2px;
  }
  &:link {
    color: light-dark(var(--color1), var(--color11));
    text-underline-offset: 0.1875rem;
  }
  &:visited {
    color: light-dark(var(--color5), var(--color3));
  }
  &:active {
    color: light-dark(var(--color4), var(--color13));
  }
}

pre {
  box-sizing: border-box;
  color: var(--color-text);
  background-color: var(--color-code);
  padding: 2ch;
  overflow-x: auto;
  tab-size: 4;
  width: 100%;
  line-height: 1.5;
  border: thin solid var(--color-border);
  outline: thin solid var(--color-border);
  outline-offset: -0.25rem;

  &.break {
    white-space: break-spaces;
    word-wrap: anywhere;
  }
}

kbd {
  border: 0.125rem solid currentColor;
  display: inline-block;
  font-weight: 700;
  padding: 0 .5ch;
  line-height: 1.5;
  white-space: nowrap;
}

hr {
  color: var(--color-border);
}

blockquote {
  border-left: 0.25rem solid var(--color-border);
  padding: 0 0 0 2ch;
  margin: 0 0 0 4ch;
  ul {
    font-style: normal;
  }
}

video {
  display: block;
  border: thin solid var(--color-border);
  outline: thin solid var(--color-border);
  outline-offset: .125rem;
  max-width: 100%;
  height: auto;
}

/* TODO use when migrated to DOS font */
ul li::marker {
  /*content: "*";*/
}

/* footnotes */
ol > li > p {
  margin: 0;
}

/* ============================== ADMONITION ============================= */

.admonition {
  border: 0.25rem solid;
  padding: 4ch 2ch 2ch;
  position: relative;

  a {
    color: inherit;
  }

  p,
  ul,
  ol {
    margin: 0;
  }

  + .admonition {
    margin-top: 1ch;
  }

  .admonition-title {
    font: normal 1.25rem/1.25 var(--display-font), monospace;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.25ch 1ch;
    width: 100%;
    box-sizing: border-box;

    background-color: currentColor;
    color: var(--color-bg);

    text-transform: uppercase;
    line-height: 1;
  }

  &.tip {
    border-color: var(--color-tip);
    .admonition-title {
      color: var(--color-tip-text);
      background-color: var(--color-tip);
    }
  }

  &.warning {
    border-color: var(--color-warning);
    .admonition-title {
      color: var(--color-warning-text);
      background-color: var(--color-warning);
      &::after {
        content: "!";
      }
    }
  }

  &.danger {
    border-color: var(--color-danger);
    .admonition-title {
      color: var(--color-danger-text);
      background-color: var(--color-danger);
      &::after {
        content: "!";
      }
    }
  }
}

/* =================================== TOC ================================= */
.headerlink {
  display: none;
  padding: 0 .5ch;
  text-decoration: none;
}

.toc-toggle {
  display: none;
}

/* Not very good, but works */
/* wait for @starting-style */
.toc-toggle {
  display: block;
  width: 1px;
  height: 1px;
  clip-path: polygon(0 0, 0 0, 0 0);

  + label {
    font: normal 1.25rem/1 var(--display-font), monospace;
    cursor: pointer;
    display: inline-block;
    padding: 1ch 0;
    margin: 1ch 0;
    color: light-dark(var(--color1), var(--color14));

    &::before {
      content: '>';
      display: inline-block;
      margin-right: .5ch;
      transform-origin: center;
    }
  }

  &:checked {
    + label {
      display: inline-block;
      &::before {
        transform: rotate(90deg);
      }
    }
  }
}

article:has(.toc-toggle:checked) .toc {
  display: block;
}

code {
  background-color: var(--color-code);
  font: normal 1.25rem/1 var(--display-font), monospace;
}

.toc {
  display: none;
}

.toc {
  padding: 0 1ch 2ch;
  @container article (max-width: 767px) {
    width: auto;
  }
}
.toc > ul,
.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ================================= TABLE ================================= */

table {
  border: thin solid var(--color-border);
  border-spacing: 0.125rem;

  th {
    color: light-dark(var(--color5), var(--color14));
  }
  th,
  td {
    text-align: start;
    border: thin solid var(--color-border);
    padding: 1ch;
    font: normal 1.25rem/1 var(--display-font), monospace;
  }
}

.footnote hr {
  display: none;
}

img {
  /* width: 614px; */
  /* height: auto; */ /* 372px; */
  max-width: 100%;
  display: block;

  &[src*="svg"]:not([src*="polysec"]) {
    @media screen and (prefers-color-scheme: dark) {
      filter: invert(1) hue-rotate(173deg) brightness(.87);
    }
  }
}

/* ================================ FOOTER ================================= */

footer {
  margin-top: 4ch;
}

/* ================================ MEDIAS ================================= */

@view-transition {
  navigation: auto;
}

@media print {
  body {
    color: var(--color0);
    print-color-adjust: economy;
  }
  img {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
  }
}

/*.codehilite {*/
/*  border: thin solid var(--color-border);*/
/*}*/

/* Special case for design patterns */
@media screen and (max-width: 767px) {
  img[src*="/assets/img/dp-"] {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  img[src*="/assets/img/dp-"] {
    width: 80%;
  }
}