@font-face {
  font-family: "zx-spectrum";
  src: url("/assets/fonts/zx-spectrum.woff2") format("woff2");
  font-display: swap;
}

:root {
  color-scheme: dark;

  /* 1 bit color */
  --color-0: #11101a;
  --color-1: #d1cfc7;

  --display-font: "zx-spectrum";
  --focus-outline: 0.125rem solid var(--color-1);

  scroll-behavior: smooth;
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

:focus-visible {
  outline: var(--focus-outline);
  outline-offset: 0.1875rem;
  + label {
    outline: var(--focus-outline);
    outline-offset: 0.1875rem;
  }
}

body {
  font: normal 16px/2 monospace;
  color: var(--color-1);
  padding: 3vb 3vi;
  margin: 0 auto;
  box-sizing: border-box;
  background: var(--color-0);
}
:where(header, footer, main) {
  max-width: 80rem;
}

/* ================================ HEADER ================================= */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4ch;
}
.mainmenu {
  align-items: center;
  display: flex;
  font: bold 1.125rem/1 var(--display-font);
  flex-wrap: wrap;
  gap: 1ch;
  text-transform: uppercase;
  text-rendering: geometricPrecision;

  a {
    padding: 1ch;
    text-decoration: none;

    &:is(.active, :hover) {
      background-color: var(--color-1);
      color: var(--color-0);
    }
  }
}

.logo {
  image-rendering: pixelated;
  border: none;
  width: 128px;
  height: 128px;

  @media screen and (max-width: 767px) {
    width: 256px;
    height: 256px;
    margin: 0 auto;
  }
}

.tags {
  display: inline-flex;
  gap: 1ch 2ch;
  flex-wrap: wrap;
  white-space: nowrap;
}

/* ================================= MAIN ================================== */

main {
  article {
    container-type: inline-size;
    container-name: article;
  }
  .articles {
    li {
      line-height: 4ch;

      time {
        font-size: 1rem;
        margin-block-end: 1ch;
      }
    }
  }
}

/* ============================= COMMON TAGS =============================== */

h1 {
  font: normal 1.5rem/1.5 var(--display-font), monospace;
  margin: 2ch 0 1ch;
  text-wrap: balance;
  text-rendering: geometricPrecision;
}
:where(h2, h3, h4, h5, h6) {
  font: normal 1.25rem/1.5 var(--display-font), monospace;
  text-wrap: balance;
  text-rendering: geometricPrecision;

  &:hover .headerlink {
    display: inline-block;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: var(--color-1);
    }
  }

  code {
    font: inherit;
  }
}

h2 {
  margin: 2ch 0 1ch;
}

h3 {
  margin: 1.5ch 0 1ch;
}

h4,
h5,
h6 {
  margin: 1ch 0;
}

a {
  color: var(--color-1);

  &:hover {
    color: white;
  }

  &:not(:is(:hover, :focus)) {
    text-decoration-color: color-mix(in srgb, currentColor, transparent 50%);
    text-underline-offset: 2px;
  }
}

pre {
  box-sizing: border-box;
  background-color: var(--color-0);
  padding: 2ch;
  overflow-x: auto;
  tab-size: 4;
  width: 100%;
  line-height: 1.5;
  border: medium solid var(--color-1);

  &.break {
    white-space: break-spaces;
    word-wrap: anywhere;
  }
}

kbd {
  border: 0.125rem solid currentColor;
  display: inline-block;
  font-weight: 700;
  padding: 0 0.5ch;
  line-height: 1.5;
  white-space: nowrap;
}

hr {
  background-color: var(--color-1);
  height: 0.125rem;
  margin-block: 2ch 2ch;
}

blockquote {
  border-block-start: 0.25rem solid var(--color-1);
  padding: 0 0 0 2ch;
  margin: 0 0 0 4ch;
  ul {
    font-style: normal;
  }
}

video {
  display: block;
  border: medium solid var(--color-1);
  max-width: 100%;
  height: auto;
}

/* footnotes */
ol > li > p {
  margin: 0;
}

/* ============================== ADMONITION ============================= */

.admonition {
  border: 0.25rem solid;
  padding: 4ch 2ch 2ch;
  position: relative;

  a {
    color: inherit;
  }

  p,
  ul,
  ol {
    margin: 0;
  }

  + .admonition {
    margin-top: 1ch;
  }

  .admonition-title {
    font: normal 1rem/1 var(--display-font), monospace;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    padding: 0.25ch 1ch;
    width: 100%;
    box-sizing: border-box;

    background-color: currentColor;
    color: var(--color-0);
    text-transform: uppercase;
    line-height: 1;
    text-rendering: geometricPrecision;
  }

  &.tip {
    border-color: var(--color-1);
    .admonition-title {
      color: var(--color-0);
      background-color: var(--color-1);
    }
  }

  &.warning {
    border-color: var(--color-1);
    .admonition-title {
      color: var(--color-0);
      background-color: var(--color-1);
      &::after {
        content: "!";
      }
    }
  }

  &.danger {
    border-color: var(--color-1);
    .admonition-title {
      color: var(--color-0);
      background-color: var(--color-1);
      &::after {
        content: "!";
      }
    }
  }
}

/* =================================== TOC ================================= */
.headerlink {
  display: none;
  padding: 0 0.5ch;
  text-decoration: none;
}

.toc-toggle {
  display: none;
}

/* Not very good, but works */
/* wait for @starting-style */
.toc-toggle {
  display: block;
  width: 1px;
  height: 1px;
  clip-path: polygon(0 0, 0 0, 0 0);

  + label {
    font: normal 1.25rem/1 var(--display-font), monospace;
    cursor: pointer;
    display: inline-block;
    padding: 1ch 0;
    margin: 1ch 0;
    color: var(--color-1);
    text-rendering: geometricPrecision;

    &::before {
      content: ">";
      display: inline-block;
      margin-block-end: 0.5ch;
      transform-origin: center;
    }
  }

  &:checked {
    + label {
      display: inline-block;
      &::before {
        transform: rotate(90deg);
      }
    }
  }
}

article:has(.toc-toggle:checked) .toc {
  display: block;
}

code {
  background-color: var(--color-0);
}

.toc {
  display: none;
  padding: 0 1ch 2ch;

  @container article (max-width: 767px) {
    width: auto;
  }

  & > ul,
  & + .list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

/* ================================= TABLE ================================= */

table {
  border-collapse: collapse;

  th,
  td {
    text-align: start;
    border: medium solid var(--color-1);
    padding: 1ch;
  }
}

.footnote hr {
  display: none;
}

img {
  max-width: 100%;
  display: block;
}

/* ================================ FOOTER ================================= */

/* footer {} */

/* ================================ MEDIAS ================================= */

@view-transition {
  navigation: auto;
}

@media print {
  body {
    color: #000;
    background-color: #fff;
    print-color-adjust: economy;
  }
  img {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
  }
}

math {
  font-size: 200%;
}

img[src*=".svg"] {
  filter: invert(1) hue-rotate(180deg) brightness(0.95) contrast(1.1);
}

img[src*="/assets/img/dp-"] {
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 80%;
  }
}
