@font-face {
  font-family: "NES";
  src: url("/assets/fonts/nes.woff2") format("woff2");
  font-display: swap;
}
/* やったー    whoopee */

:root {
  color-scheme: dark;

  --color-background: var(--color-1);
  --color-text: var(--color-2);
  --color-lua-toolbox: var(--color-12);
  --color-about: var(--color-20);
  --color-rss: var(--color-35);
  --color-accent: var(--color-35);

  --font-display: "NES", monospace;
  --focus-outline: 0.125rem solid var(--color-accent);
  --max-content-width: 80rem;

  scroll-behavior: smooth;
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

:focus-visible {
  outline: var(--focus-outline);
  outline-offset: 0.1875rem;
  + label {
    outline: var(--focus-outline);
    outline-offset: 0.1875rem;
  }
}

body {
  font: normal 16px/2 monospace;
  color: var(--color-text);
  padding: 3vb 3vi;
  margin: 0 auto;
  box-sizing: border-box;
  background: var(--color-background);
}
:where(header, footer, main) {
  max-width: var(--max-content-width);
}

/* ================================ HEADER ================================= */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4ch;

  .logo-link {
    text-decoration: none;
  }

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}
.mainmenu {
  align-items: center;
  display: flex;
  font: normal 1rem/1 var(--font-display);
  flex-wrap: wrap;
  gap: 1ch;
  text-transform: uppercase;
  text-rendering: geometricPrecision;

  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }

  a {
    padding: 1ch;
    text-decoration: none;
  }

  .mainmenu-toolbox {
    color: var(--color-lua-toolbox);

    &:is(:hover, .active) {
      color: var(--color-background);
      background-color: var(--color-lua-toolbox);
    }
  }

  .mainmenu-about {
    color: var(--color-about);

    &:is(:hover, .active) {
      color: var(--color-background);
      background-color: var(--color-about);
    }
  }

  .mainmenu-rss {
    color: var(--color-rss);

    &:is(:hover, .active) {
      color: var(--color-background);
      background-color: var(--color-rss);
    }
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  width: 8rem;
  height: 8rem;
  background: transparent url("/assets/img/cat-static.gif") no-repeat
    center/contain;
  image-rendering: pixelated;

  &:hover {
    background-image: url("/assets/img/cat-anim.gif");
  }

  @media screen and (max-width: 767px) {
    width: 16rem;
    height: 16rem;
    margin: 0 auto;
    padding-block-start: 4rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-block-end: 4rem;
  }

  span {
    display: block;
    margin-inline-start: 9rem;
    font-size: clamp(1.5rem, 5vw, 4rem);
    line-height: 1;
    text-wrap: nowrap;
    font-weight: bold;
    background-clip: text;
    background-image: linear-gradient(to top, var(--color-35), var(--color-34));
    color: transparent;
    text-decoration: none;

    @media screen and (max-width: 767px) {
      font-size: 4rem;
      margin-inline-start: 0;
      margin-block-end: -5rem;
    }
  }
}

.tags {
  display: inline-flex;
  gap: 1ch 2ch;
  flex-wrap: wrap;
  white-space: nowrap;
}

/* ================================= MAIN ================================== */

main {
  article {
    container-type: inline-size;
    container-name: article;
  }
  .articles {
    li {
      line-height: 4ch;

      time {
        font-size: 1rem;
        margin-block-end: 1ch;
      }
    }
  }

  ::selection {
    background: var(--color-accent);
    color: var(--color-background);
  }
}

/* ============================= COMMON TAGS =============================== */

:where(h1, h2, h3, h4, h5, h6) {
  font: normal 1rem/1.25 var(--font-display);
  text-wrap: balance;
  text-rendering: geometricPrecision;
  text-transform: uppercase;

  &:hover .headerlink {
    display: inline-block;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: var(--color-text);
    }

    code {
      font: inherit;
    }
  }
}

h1,
h2 {
  margin: 2ch 0 1ch;
}

h3 {
  margin: 1.5ch 0 1ch;
}

h4,
h5,
h6 {
  margin: 1ch 0;
}

a {
  color: var(--color-text);

  &:hover {
    color: var(--color-accent);
  }

  &:not(:is(:hover, :focus)) {
    text-decoration-color: color-mix(in srgb, currentColor, transparent 50%);
    text-underline-offset: 2px;
  }
}

pre {
  box-sizing: border-box;
  background-color: var(--color-background);
  padding: 2ch;
  overflow-x: auto;
  tab-size: 4;
  width: 100%;
  line-height: 1.5;
  border: medium solid var(--color-text);

  &.break {
    white-space: break-spaces;
    word-wrap: anywhere;
  }
}

kbd {
  border: 0.125rem solid currentColor;
  display: inline-block;
  font-weight: 700;
  padding: 0 0.5ch;
  line-height: 1.5;
  white-space: nowrap;
}

hr {
  background-color: var(--color-text);
  height: 0.125rem;
  margin-block: 2ch 2ch;
  border: none;
}

blockquote {
  border-block-start: 0.25rem solid var(--color-text);
  padding: 0 0 0 2ch;
  margin: 0 0 0 4ch;
  ul {
    font-style: normal;
  }
}

video {
  display: block;
  border: medium solid var(--color-text);
  max-width: 100%;
  height: auto;
}

/* footnotes */
ol > li > p {
  margin: 0;
}

/* ============================== ADMONITION ============================= */

.admonition {
  border: 0.25rem solid;
  padding: 4ch 2ch 2ch;
  position: relative;

  a {
    color: inherit;
  }

  p,
  ul,
  ol {
    margin: 0;
  }

  + .admonition {
    margin-top: 1ch;
  }

  .admonition-title {
    font: normal 1rem/1 var(--font-display);
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    padding: 0.25ch 1ch 0.5ch;
    width: 100%;
    box-sizing: border-box;

    background-color: currentColor;
    color: var(--color-background);
    text-transform: uppercase;
    line-height: 1;
    text-rendering: geometricPrecision;
    text-transform: uppercase;
  }

  &.tip {
    border-color: var(--color-12);
    .admonition-title {
      color: var(--color-text);
      background-color: var(--color-12);
    }
  }

  &.warning {
    border-color: var(--color-32);
    .admonition-title {
      color: var(--color-text);
      background-color: var(--color-32);
      &::after {
        content: "!";
      }
    }
  }

  &.danger {
    border-color: var(--color-24);
    .admonition-title {
      color: var(--color-text);
      background-color: var(--color-24);
      &::after {
        content: "!";
      }
    }
  }
}

/* =================================== TOC ================================= */
.headerlink {
  display: none;
  padding: 0 0.5ch;
  text-decoration: none;
}

.toc-toggle {
  display: none;
}

/* Not very good, but works */
/* wait for @starting-style */
.toc-toggle {
  display: block;
  width: 1px;
  height: 1px;
  clip-path: polygon(0 0, 0 0, 0 0);

  + label {
    font: normal 1rem/1 var(--font-display);
    cursor: pointer;
    display: inline-block;
    padding: 1ch 0;
    margin: 1ch 0;
    color: var(--color-text);
    text-rendering: geometricPrecision;
    text-transform: uppercase;

    &::before {
      content: ">";
      display: inline-block;
      margin-block-end: 0.5ch;
      transform-origin: center;
    }
  }

  &:checked {
    + label {
      display: inline-block;
      &::before {
        transform: rotate(90deg);
      }
    }
  }
}

article:has(.toc-toggle:checked) .toc {
  display: block;
}

code {
  background-color: var(--color-background);
}

.toc {
  display: none;
  padding: 0 1ch 2ch;

  @container article (max-width: 767px) {
    width: auto;
  }

  & > ul,
  & + .list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

/* ================================= TABLE ================================= */

table {
  border-collapse: collapse;

  th,
  td {
    text-align: start;
    border: medium solid var(--color-5);
    padding: 1ch;
  }

  th {
    color: var(--color-12);
  }
}

.footnote hr {
  display: none;
}

img {
  max-width: 100%;
  display: block;
}

/* ================================ FOOTER ================================= */

/* footer {} */

/* ================================ MEDIAS ================================= */

@view-transition {
  navigation: auto;
}

@media print {
  body {
    color: #000;
    background-color: #fff;
    print-color-adjust: economy;
  }
  img {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
  }
}

math {
  font-size: 200%;
}

img[src*=".svg"] {
  filter: invert(1) hue-rotate(180deg) brightness(0.95) contrast(1.1);
}

img[src*="/assets/img/dp-"] {
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 80%;
  }
}
