@font-face {
  font-family: "zx-spectrum";
  src: url("/assets/fonts/zx-spectrum.woff2") format("woff2");
  font-display: swap;
}

:root {
  color-scheme: dark;

  /* zx colors */
  --color0: #000;

  --color1: #00f;
  --color2: #f00;
  --color3: #f0f;
  --color4: #0f0;
  --color5: #0ff;
  --color6: #ff0;
  --color7: #fff;

  --color8: #0000d8;
  --color9: #d80000;
  --color10: #d800d8;
  --color11: #00d800;
  --color12: #00d8d8;
  --color13: #d8d800;
  --color14: #d8d8d8;

  --display-font: "zx-spectrum";
  --color-bg: var(--color0);
  --color-text: var(--color14);
  --color-pri: var(--color4);
  --color-code: var(--color14);
  --color-border: var(--color8);

  --color-tip: var(--color5);
  --color-tip-text: var(--color0);
  --color-warning: var(--color6);
  --color-warning-text: var(--color0);
  --color-danger: var(--color4);
  --color-danger-text: var(--color6);

  /* --letter-spacing: 2px; */

  --focus-outline: 0.125rem solid var(--color14);

  scroll-behavior: smooth;
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

:focus-visible {
  outline: var(--focus-outline);
  outline-offset: 0.1875rem;
  + label {
    outline: var(--focus-outline);
    outline-offset: 0.1875rem;
  }
}

body {
  font: normal 16px/2 monospace;
  letter-spacing: var(--letter-spacing);
  padding: 4rem;
  margin: 0 auto;
  box-sizing: border-box;
  background: var(--color-bg);
  color: var(--color-text);
  max-width: 80rem;
  width: 100%;
  border-image: url("/assets/img/border.gif?245") 8 / 1.5rem round;
  image-rendering: pixelated;
}

/* ================================ HEADER ================================= */

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4ch;
  margin: 0 0 4ch;
  padding-bottom: 3ch;
  border-bottom: 0.125rem solid var(--color2);
}
.mainmenu {
  align-items: center;
  display: flex;
  font: bold 1rem/1 var(--display-font), monospace;
  flex-wrap: wrap;
  gap: 1ch;
  text-transform: uppercase;
  transform: scale(1.125);
  text-rendering: geometricPrecision;
  transform-origin: 0 0;

  a {
    padding: 1ch;
    text-decoration: none;

    &.mainmenu-about {
      &:is(:link, :visited) {
        color: var(--color3);
      }

      &:is(.active, :hover) {
        background-color: var(--color3);
        color: var(--color0);
      }
    }

    &.mainmenu-toolbox {
      &:is(:link, :visited) {
        color: var(--color4);
      }
      &:is(.active, :hover) {
        background-color: var(--color4);
        color: var(--color0);
      }
    }

    &.mainmenu-rss {
      &:is(:link, :visited) {
        color: var(--color6);
      }
      &:is(.active, :hover) {
        background-color: var(--color6);
        color: var(--color0);
      }
    }
  }
}

.tags {
  margin: 1ch 0 0;
  display: inline-flex;
  gap: 2ch;
  flex-wrap: wrap;
  white-space: nowrap;
}
.logo {
  image-rendering: pixelated;
  border: none;
  max-width: 256px;
  margin: 0 auto;
}

/* ================================= MAIN ================================== */

main {
  article {
    container-type: inline-size;
    container-name: article;
  }
  .articles {
    li {
      line-height: 4ch;

      time {
        font-size: 1rem;
        margin-right: 1ch;
      }
    }
  }
}

/* ============================= COMMON TAGS =============================== */

h1 {
  color: var(--color-pri);
  font: normal 1rem/1.5 var(--display-font), monospace;
  margin: 2ch 0 1ch;
  text-wrap: balance;
  transform: scale(1.5);
  text-rendering: geometricPrecision;
  transform-origin: 0 0;
}
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-pri);
  font: normal 1.125rem/1.5 var(--display-font), monospace;
  text-wrap: balance;
  transform: scale(1.125);
  text-rendering: geometricPrecision;
  transform-origin: 0 0;

  &:hover .headerlink {
    display: inline-block;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: var(--color8);
    }
  }

  code {
    font: inherit;
  }
}

h2 {
  margin: 2ch 0 1ch;
}
h3 {
  margin: 1.5ch 0 1ch;
  color: var(--color11);
}
h4,
h5,
h6 {
  margin: 1ch 0;
  color: var(--color13);
}

a {
  &:not(:is(:hover, :focus)) {
    text-decoration-color: color-mix(in srgb, currentColor, transparent 50%);
    text-underline-offset: 2px;
  }
  &:link {
    color: var(--color5);
    text-underline-offset: 0.1875rem;
  }
  &:visited {
    color: var(--color12);
  }
  &:active {
    color: var(--color3);
  }
}

pre {
  box-sizing: border-box;
  color: var(--color-code);
  background-color: var(--color0);
  padding: 2ch;
  overflow-x: auto;
  tab-size: 4;
  width: 100%;
  line-height: 1.5;
  border: medium solid var(--color-border);

  &.break {
    white-space: break-spaces;
    word-wrap: anywhere;
  }
}

kbd {
  border: 0.125rem solid currentColor;
  display: inline-block;
  font-weight: 700;
  padding: 0 0.5ch;
  line-height: 1.5;
  white-space: nowrap;
}

hr {
  color: var(--color2);
}

blockquote {
  border-left: 0.25rem solid var(--color-border);
  padding: 0 0 0 2ch;
  margin: 0 0 0 4ch;
  ul {
    font-style: normal;
  }
}

video {
  display: block;
  border: medium solid var(--color-border);
  max-width: 100%;
  height: auto;
}

/* footnotes */
ol > li > p {
  margin: 0;
}

/* ============================== ADMONITION ============================= */

.admonition {
  border: 0.25rem solid;
  padding: 4ch 2ch 2ch;
  position: relative;

  a {
    color: inherit;
  }

  p,
  ul,
  ol {
    margin: 0;
  }

  + .admonition {
    margin-top: 1ch;
  }

  .admonition-title {
    font: normal 1rem/1 var(--display-font), monospace;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.25ch 1ch;
    width: 100%;
    box-sizing: border-box;

    background-color: currentColor;
    color: var(--color-bg);

    text-transform: uppercase;
    line-height: 1;

    transform: scale(1.125);
    text-rendering: geometricPrecision;
    transform-origin: 0 0;
  }

  &.tip {
    border-color: var(--color-tip);
    .admonition-title {
      color: var(--color-tip-text);
      background-color: var(--color-tip);
    }
  }

  &.warning {
    border-color: var(--color-warning);
    .admonition-title {
      color: var(--color-warning-text);
      background-color: var(--color-warning);
      &::after {
        content: "!";
      }
    }
  }

  &.danger {
    border-color: var(--color-danger);
    .admonition-title {
      color: var(--color-danger-text);
      background-color: var(--color-danger);
      &::after {
        content: "!";
      }
    }
  }
}

/* =================================== TOC ================================= */
.headerlink {
  display: none;
  padding: 0 0.5ch;
  text-decoration: none;
}

.toc-toggle {
  display: none;
}

/* Not very good, but works */
/* wait for @starting-style */
.toc-toggle {
  display: block;
  width: 1px;
  height: 1px;
  clip-path: polygon(0 0, 0 0, 0 0);

  + label {
    font: normal 1.25rem/1 var(--display-font), monospace;
    cursor: pointer;
    display: inline-block;
    padding: 1ch 0;
    margin: 1ch 0;
    color: var(--color6);
    transform: scale(1.125);
    text-rendering: geometricPrecision;
    transform-origin: 0 0;

    &::before {
      content: ">";
      display: inline-block;
      margin-right: 0.5ch;
      transform-origin: center;
    }
  }

  &:checked {
    + label {
      display: inline-block;
      &::before {
        transform: rotate(90deg);
      }
    }
  }
}

article:has(.toc-toggle:checked) .toc {
  display: block;
}

code {
  background-color: var(--color-bg);
}

.toc {
  display: none;
}

.toc {
  padding: 0 1ch 2ch;
  @container article (max-width: 767px) {
    width: auto;
  }
}
.toc > ul,
.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ================================= TABLE ================================= */

table {
  border-collapse: collapse;
  th {
    color: var(--color14);
  }
  th,
  td {
    text-align: start;
    border: medium solid var(--color-border);
    padding: 1ch;
  }
}

.footnote hr {
  display: none;
}

img {
  max-width: 100%;
  display: block;
}

/* ================================ FOOTER ================================= */

footer {
  margin-top: 4ch;
}

/* ================================ MEDIAS ================================= */

@view-transition {
  navigation: auto;
}

@media print {
  body {
    color: var(--color0);
    print-color-adjust: economy;
  }
  img {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
  }
}

math {
  font-size: 200%;
}

/* Special case for design patterns */
@media screen and (max-width: 767px) {
  img[src*="/assets/img/dp-"] {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  img[src*="/assets/img/dp-"] {
    width: 80%;
  }
}
