:root {
  --color-1: #000000;
  --color-2: #fcfcfc;
  --color-3: #f8f8f8;
  --color-4: #bcbcbc;
  --color-5: #7c7c7c;
  --color-6: #a4e4fc;
  --color-7: #3cbcfc;
  --color-8: #0078f8;
  --color-9: #0000fc;
  --color-10: #b8b8f8;
  --color-11: #6888fc;
  --color-12: #00a8ff;
  --color-13: #0000bc;
  --color-14: #d8b8f8;
  --color-15: #9878f8;
  --color-16: #6844fc;
  --color-17: #4428bc;
  --color-18: #f8b8f8;
  --color-19: #f878f8;
  --color-20: #d800cc;
  --color-21: #940084;
  --color-22: #f8a4c0;
  --color-23: #f85898;
  --color-24: #e40058;
  --color-25: #a80020;
  --color-26: #f0d0b0;
  --color-27: #f87858;
  --color-28: #f83800;
  --color-29: #a81000;
  --color-30: #fce0a8;
  --color-31: #fca044;
  --color-32: #e45c10;
  --color-33: #881400;
  --color-34: #f8d878;
  --color-35: #ffb851;
  --color-36: #ac7c00;
  --color-37: #503000;
  --color-38: #d8f878;
  --color-39: #b8f818;
  --color-40: #00b800;
  --color-41: #007800;
  --color-42: #b8f8b8;
  --color-43: #58d854;
  --color-44: #00a800;
  --color-45: #006800;
  --color-46: #b8f8d8;
  --color-47: #58f898;
  --color-48: #00a844;
  --color-49: #005800;
  --color-50: #00fcfc;
  --color-51: #00e8d8;
  --color-52: #008888;
  --color-53: #004058;
  --color-54: #f8d8f8;
  --color-55: #787878;
}
