* {
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  overflow: hidden;
}
main {
  width: 100%;
  height: 100%;
  display: flex row;
  overflow: hidden;
}
.home {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    132deg, rgb(2, 106, 122) 0%,
    rgb(242, 78, 163) 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home > .inner {
  margin: 0 5% 0;  
}

@media screen and (max-width: 800px) {
  .home > .inner {
    transform: translateY(-50%);
  }
}
.home h1 {
  font: normal 7rem/1 'Raleway', sans-serif;
  color: #fff;
  margin: 0 0 0 -80rem;
  text-transform: uppercase;
  position: relative;
  animation: name-anim .2s .4s ease forwards;
  will-change: margin-left;
}
h2, h3 {
  font: normal 3rem/1 'Raleway', sans-serif;
  color: #fff;
  margin: 6rem 0 3rem;
}
h3 {
  text-align: center;
  font-size: 4.5rem;
}
.home h2 {
  font: 100 2.2rem/1.4 'Raleway', Arial, sans-serif;
  margin: 0 0 0 -60rem;
  animation: name-anim .2s .6s ease forwards;
  will-change: margin-left;
}
.links {
  margin-top: 2rem;
}
.links a {
  animation: fade-in .6s 1.2s 1 ease forwards;
  border: none;
  opacity: 0;
  will-change: opacity;
  text-decoration: none;
  color: #fff;
}
.links a:first-child {
  margin-right: 2rem;
}
.links ins,
.links img {
  display: inline-block;
  transition: opacity .2s;
  opacity: .5;
  width: 67px;
  will-change: opacity;
  text-decoration: none;
}
.links a:hover ins,
.links a:hover img {
  opacity: .8;
}
.links a.codepen img {
  width: 272px;
  display: inline-block;
  margin-left: 1rem;
}

.gopher {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(133%, 30%) rotate(0deg);
  transform-origin: bottom center;
  animation: gopher .4s 1 2s forwards ease-in-out;
}

@media screen and (max-width: 400px) {
  html,body {
    font-size: 8px;
  }
  .gopher {
    scale: .6;
  }
}

/* ------ Header -------- */
header {
  background: #3a6073;
  padding: 1.5rem 3rem;
}
header a { font: normal 3rem/1 'Raleway', sans-serif;
  color: #fff;
  text-decoration: none;
}

h1 {
  font: normal 4.5rem/1 'Raleway', sans-serif;
  color: #333;
  margin-left: 5%;
}

/* ------ Animations ------ */

@keyframes name-anim {
  from { margin-left: -60rem; }
  to { margin-left: 0; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to {opacity: 1; }
}

@keyframes gopher {
  to {
    transform: translate(50%, 30%) rotate(-30deg);
  }
}

