// ========================== Smile ================================
@-webkit-keyframes smile-icon-animation {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes smile-icon-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

// ========================== Money ================================
@-webkit-keyframes money-icon-animation {
  0% {
    -webkit-transform: rotate(0);
  }
  33% {
    -webkit-transform: rotate(8deg);
  }
  66% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-8deg);
  }
}
@keyframes money-icon-animation {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(8deg);
  }
  66% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}

// ========================== Hearth ================================
@-webkit-keyframes hearth-icon-animation {
  0% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.16, 1.16);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }

}
@keyframes hearth-icon-animation {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.16, 1.16);
  }
  100% {
    transform: scale(1, 1);
  }
}


// ===================== Fade in intro ================================
@-webkit-keyframes fade-in-intro {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in-intro {
  0% { opacity: 0; }
  100% { opacity: 1; }
}