@font-face {
	font-family: 'Amarillo';
	src: url('../fonts/Amarillo.eot');
	src: url('../fonts/Amarillo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Amarillo.woff') format('woff'),
		url('../fonts/Amarillo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
