// Set variables for different display sizes.
$width-small:  600px;
$width-medium: 760px;
$width-large:  1200px;

// Colors
$color-accent: #CB6898;
$color-text:   #6d6d6d;
$color-title:  #6d6d6d;
$color-ico-1:  #334959;
$color-ico-2:  #509B9E;
$color-ico-3:  #F28C83;
$color-fb:     #3b5998;

// Fonts
$font-amarillo: 'Amarillo', serif;
$font-raleway:  'Raleway', Arial, sans-serif;
$font-common:   Arial, Helvetica, sans-serif;